<nav>
  <input type="checkbox" id="toggle-menu" />
  <label for="toggle-menu" class="menu-control">
    <div class="hamburger">
      <span class="bar bar1"></span>
      <span class="bar bar2"></span>
      <span class="bar bar3"></span>
    </div>
  </label>

  <label class="logo"
    >INNO<span style="color: rgb(167, 166, 166)">DEV TH</span>
  </label>
  <ul>
    <li><a (click)="scrollPosition('Home')">Home</a></li>
    <li><a (click)="scrollPosition('Aboutme')">About me</a></li>
    <li><a (click)="scrollPosition('Skill')">Skill</a></li>
    <li><a (click)="scrollPosition('Contact')">Contact</a></li>
  </ul>
</nav>
