<nav>
    <input type="checkbox" id="toggle-menu" />
    <label for="toggle-menu" class="menu-control">
      <div class="hamburger">
          <span class="bar bar1"></span>
          <span class="bar bar2"></span>
          <span class="bar bar3"></span>
      </div>
    </label>
   
    <label class="logo" >SIRIPAAK <span style="color:rgb(167, 166, 166)"> CHINNACHOT</span> </label>
    <label class="logo-mobile" >SIRIPAAK </label>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About me</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>