.scroll-to-top-btn.active {
  opacity: 1;
}

.scroll-to-top-btn {
  position: fixed;
  z-index: 4;
  height: 40px;
  width: 50px;
  background: rgb(0, 0, 0);
  right: 30px;
  bottom: 0;
  text-align: center;
  line-height: 45px;
  color: #fff;
  font-size: 30px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: auto;
  transition: all 0.8s;
}

i {
  color: white;
}
