/* MAIN-COVER */
.cover-page__container {
  padding-top: 10rem;
  text-align: center;
}

h1.cover-page__text {
  line-height: 2;
}

.cover-page__img {
  padding-top: 5px;
}

@media screen and (max-width: 1199px) {
  .cover-page__container {
    padding-top: 120px;
  }
}

@media screen and (max-width: 991px) {
  .cover-page__container {
    padding-top: 50px;
  }
}

/* ABOUT */
.container-60 {
  width: 60%;
  margin: auto;
}

.container__center {
  width: 100%;
  margin: 2rem auto;
}

ul.horizontal-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.horizontal-list li.list-item {
  float: left;
  margin-bottom: -2px;
}

ul.horizontal-list li.list-item a {
  display: inline-block;
  padding: 8px 20px;
  margin-right: 5px;
  background-color: #000000;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  font-size: 20px;
  color: white;
  font-weight: 500;
  border: 1px solid #000000;
  transition: all 0.7s;
}

ul.horizontal-list li.list-item a.active {
  background-color: white;
  color: #000000;
  border-bottom: 1px solid white;
}

ul.horizontal-list li.list-item a:hover {
  background-color: white;
  color: #000000;
  border-bottom: 1px solid white;
}

.folder-box__container {
  margin-top: -1px;
  border: 1px solid #000000;
}

.folder-box__body {
  padding: 20px 20px;
}

.text__content {
  padding-top: 15px;
  line-height: 30px;
  text-align: justify;
}

/* SECTION */
.bg-black {
  background: black;
}

.content__center {
  padding: 60px 0;
  text-align: center;
  color: white;
  line-height: 5rem;
}

/* WHAT CAN I DO */
.card-no-border {
  transition: 0.3s;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.card-no-border i {
  font-size: 45px;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 50%;
  color: #333;
  background: #f2f2f2;
  transition: all 0.3s;
}

.card-no-border i:hover {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  box-shadow: 0px 0px 0px 4px #f7465b;
}

.card-no-border p.content-center {
  line-height: 30px;
  margin-top: 20px;
  padding: 0 15px;
}

@media screen and (max-width: 767px) {
  .container__center {
    width: 100%;
  }
}

@media screen and (max-width: 598px) {
  .container-60 {
    width: 100%;
  }

  .col,
  .cover-page__container {
    flex: 100%;
    padding: 20px 0;
  }

  .col-4 {
    flex: 100%;
  }
  .col-6 {
    flex: 100%;
  }
}

/* SKILLS */
.card-text {
  padding: 20px 10px;
}

/* PORTFOLIO */
.red{
  color: #f7465b;
}
.uppercase{
  text-transform: uppercase;
}
.card-curve__container {
  cursor: pointer;
  border-radius: 1.5rem;
  border: 1px solid #000000;
  transition: all 0.3s;
  background-color: #16181c;
  margin: 2rem;
  padding: 1.5rem;
  height: 450px;
  max-width: 100%;
}

.card-curve__container > .card-curve__top {
  height: 300px;
  max-width: 100%;
  overflow: hidden;
  border-radius: 1.5rem;
  background-color: white;
}

.card-curve__container > .card-curve__top > img:hover{
  transition: all 0.3s;
  transform: scale(1.2);
}

.card-curve__container > .card-curve__body {
  padding: 16px 0px;
  line-height: 30px;
  overflow: hidden;
}

.line-separator {
  position: relative;
  width: 100px;
  height: 3px;
  background: rgb(0, 0, 0);
}

.line-separator.center {
  margin: auto;
}

.line-separator.white {
  position: relative;
  width: 100px;
  height: 3px;
  background: rgb(255, 255, 255);
}
