<div class="container text-center pb-5">
    <div class="row">
        <div class="col">
            <h1 class="introduce">Hi, <br>
                I am  <span style="color: rgb(94, 96, 226)"> Siripaak Chinnachot</span>   <br>
                Frontend Developer 
            </h1>
            <button class="btn btn-dark">GITHUB</button>
        </div>
        <div class="col">
            <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
                <path id="blob" d="M428,305Q360,360,305,422.5Q250,485,166,451.5Q82,418,77,334Q72,250,86,175Q100,100,175,66Q250,32,313,78Q376,124,436,187Q496,250,428,305Z" fill="#BFBEBD"></path>
            </svg>
        </div>
    </div>

    <div class="pt-5">
        <h1 class="text-center"> SKILLS</h1>
        <div class="row pt-3">
            <div class="col-4 ">
                <div class="card">
                    <div class="content">
                        <h2 class="text-center">Web Development</h2>
                        <p class="pt-3">Angular</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="content">
                        <h2>Web Development</h2>
                        <p class="pt-3">JavaScript</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="content">
                        <h2>Web Development</h2>
                        <p class="pt-3">JavaScript</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>